/* Colors */

:root {
  --primary: #0037ff;
  --background: #fffdea;
  --background2: #feeec5;
  --kiddushblack: #1e1f23;
  --secondary: #f9a2e6;
  --text1: #696757;
  --text2: #adab9e;
}

/* Fonts */
