---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import ProductCard2 from "../components/ProductCard2.astro";

const data = await fetch(
  "https://syezauaectamogglkmvc.supabase.co/rest/v1/products?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5ZXphdWFlY3RhbW9nZ2xrbXZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0OTcyODUsImV4cCI6MjAwMDA3MzI4NX0.5CbbGAvqETjhd1_tbVm-oa-4F_JHliJV0Xuy_dG2rms",
    },
  }
).then((res) => res.json());
---

<MainLayout title="KIDDUSH" id="landing">
  <Header slot="header" home="active" />

  <section class="slider-wrapper">
    <div class="slides-container">
      {
        data.map((product) => {
          return <ProductCard2 data={product} />;
        })
      }
    </div>
    <div class="arrows">
      <img src="/img/chevron_left_cream.svg" alt="left arrow" id="prev" />
      <img src="/img/chevron_right_cream.svg" alt="right arrow" id="next" />
    </div>
  </section>

  <Banner />
</MainLayout>

<style>
  .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
    padding: 2rem;
  }

  .slides-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 1rem;
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;
  }
  .article::-webkit-scrollbar {
    display: none;
  }
  .article {
    flex-shrink: 0;
    width: calc(100% / 3);
    scroll-snap-align: center;
  }

  .article:last-of-type {
    margin-right: 0;
  }

  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 90vw;
  }

  .arrows img {
    width: 17px;
    cursor: pointer;
  }
</style>
