---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import ProductCard from "../components/ProductCard.astro";
---

<MainLayout title="SHOP">
  <Header slot="header" shop="active" />
  <section>
    <ProductCard />
    <ProductCard />
    <ProductCard />
    <ProductCard />
    <ProductCard />
    <ProductCard />
  </section>
</MainLayout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 14px;
    gap: 14px;
  }
</style>
