<header>
  <a href="/"><img src="" alt="LOGO" /></a>
  <nav>
    <ul>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/archive">BEER ARCHIVE</a></li>
      <li><a href="/events">EVENTS</a></li>
      <li><a href="/about">ABOUT US</a></li>
    </ul>
    <img src="" alt="søg" />
    <a href="#"> <img src="" alt="kurv" /></a>
  </nav>
</header>

<style>
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--kiddushblack);
    font-family: Montserrat, sans-serif;

    font-size: 28px;
    font-weight: 500;
  }

  a:hover {
    color: var(--primary);
  }
</style>
